.login__container {
  width: 80%;
  margin: auto;
  min-height: 100%;
  overflow: hidden;
  margin-top: 5rem;
}

.login__header {
  margin-bottom: 3rem;

  p {
    font-size: 1.5rem;
    color: #213f7d;
    font-weight: bold;
  }

  .logo {
    width: 25px;
  }
}

.login__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  img {
    width: 50%;

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}
