main {
  width: 100%;
  margin: 0;
  position: relative;
  background-color: rgba($color: #e5e5e5, $alpha: 0.5);
}

.user-details {
  display: flex;
  position: relative;
  right: -20%;
  width: 80%;

  .nav-back {
    text-decoration: none;
    font-size: 16px;
    color: #545f7d;
  }

  .body {
    display: flex;
    justify-content: space-between;

    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #213f7d;
    }

    button {
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      border-radius: 8px;
      padding: 12px 16px;
      margin-left: 20px;
      cursor: pointer;
    }

    .red {
      color: #e4033b;
      border: 1px solid #e4033b;

      &:hover {
        background-color: #e4033b;
        color: #fff;
      }
    }

    .green {
      border: 1px solid #39cdcc;
      color: #39cdcc;

      &:hover {
        background-color: #39cdcc;
        color: #fff;
      }
    }
  }

  @media (max-width: 460px) {
    width: 100%;
    right: 0;

    .body {
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;

      button {
        width: 90%;
        margin-bottom: 20px;
      }
    }
  }
}

.user-details__head {
  width: 100%;
  margin-top: 100px;
  height: 100%;
  padding: 40px 60px;

  @media (max-width: 460px) {
    padding: 40px 20px;
  }
}

.user-details__header--user {
  background-color: #fff;
  min-height: 210px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  padding: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 46px;
  position: relative;

  h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #213f7d;
    margin-bottom: 8px;
    margin-top: 0;
  }

  p {
    font-size: 14px;
    line-height: 16px;
    color: #545f7d;
  }

  .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    div {
      padding: 0 30px;
    }

    .name {
      display: flex;
      justify-content: center;
      border-right: 1px solid rgba($color: #545f7d, $alpha: 0.2);

      h3 {
        margin-bottom: 8px;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 0;
        padding-right: 0;
      }
    }

    .image {
      font-size: 30px;
      padding: 36px;
      background: rgba($color: #213f7d, $alpha: 0.16);
      border-radius: 100%;
    }

    .rating {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-right: 1px solid rgba($color: #545f7d, $alpha: 0.2);

      div {
        color: #e9b200;
        padding: 0;
        text-align: center;
        display: flex;
        gap: 5px;
      }

      p {
        margin-top: 0;
        padding-top: 0;
      }
    }

    .financial-details {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        margin-bottom: 12px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;

    a {
      display: block;
      text-decoration: none;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #000;
      padding-bottom: 10px;

      &.active {
        color: #39cdcc;
        border-bottom: 2px solid #39cdcc;
      }
    }
  }

  @media (max-width: 460px) {
    padding-bottom: 0;
    .body {
      text-align: center;
      div {
        width: 100%;
      }

      .name {
        flex-wrap: wrap;
        border-right: none;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba($color: #545f7d, $alpha: 0.2);

        h3 {
          margin-top: 8px;
        }
        div {
          text-align: center;
          margin-left: 0;
          padding-left: 0;
        }
      }

      .rating {
        margin: 20px 0;
        border-right: none;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba($color: #545f7d, $alpha: 0.2);

        p {
          font-size: 16px;
        }

        div {
          justify-content: center;
        }
      }

      .financial-details {
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid rgba($color: #545f7d, $alpha: 0.2);
        h3 {
          margin-bottom: 8px;
        }
      }
    }

    .footer {
      position: static;
      // width: 100%;
      margin: 0 auto;
      text-align: center;
      display: block;

      a {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}

.user-details__body {
  background-color: #fff;
  padding: 30px;
  margin-top: 30px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-sizing: border-box;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
}

.user-details__body--details {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba($color: #213f7d, $alpha: 0.1);
  padding-bottom: 30px;

  div {
    min-width: 24%;
  }

  .title {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545f7d;
  }

  .info {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #545f7d;
  }

  @media (max-width: 460px) {
    gap: 30px;
  }
}
