main {
  width: 100%;
  margin: 0;
  position: relative;
  background-color: rgba($color: #e5e5e5, $alpha: 0.5);
}

.dashboard {
  display: flex;
  position: relative;
  right: -20%;
  width: 80%;

  @media (max-width: 460px) {
    right: 0;
    width: 100%;
  }
}

.dashboard__body {
  width: 100%;
  margin-top: 100px;
  height: 100%;
  padding: 40px 60px;

  @media (max-width: 460px) {
    padding: 40px 20px;
  }

  h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #213f7d;
  }
}

.dashboard__cards {
  display: flex;
  gap: 26px;

  @media (max-width: 460px) {
    flex-wrap: wrap;
  }
}

.dashboard__card {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 5px;
  // width: 240px;
  width: 25%;

  .icon {
    width: 30px;
    height: 30px;
    background: rgba($color: #df18ff, $alpha: 0.1);
    padding: 9px;
    border-radius: 100%;
    color: #df18ff;
  }

  h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #545f7d;
  }

  p {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #213f7d;
  }

  @media (max-width: 460px) {
    width: 100%;

    .icon {
      width: 50px;
      height: 50px;
    }

    h3 {
      font-size: 18px;
    }
  }
}
