.users-table {
  margin-top: 40px;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  text-align: left;
  color: #545f7d;
  padding: 30px;
  overflow-x: auto;
  overflow-y: hidden;

  & > div {
    width: 97%;
    margin: 0 auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      text-transform: uppercase;
      font-size: 12px;

      th {
        margin-bottom: 37px;
      }
    }

    tbody {
      font-size: 14px;
    }
  }
  @media (max-width: 460px) {
    overflow: scroll;
  }
}

.dashboard__footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;

  div {
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgba($color: #545f7d, $alpha: 0.6);
  }

  .filter {
    select {
      width: 80px;
      height: 30px;
      background: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      padding: 0 14px;
    }
  }

  .pagination {
    font-size: 16px;

    .icon {
      font-size: 16px;
      padding: 8px 12px;
      background: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      cursor: pointer;
    }

    span {
      cursor: pointer;

      &.active {
        color: #545f7d;
      }
    }
  }

  @media (max-width: 460px) {
    justify-content: center;
    align-items: center;

    & > div {
      margin-bottom: 30px;
      justify-content: center;
    }
  }
}
