.users-table {
  margin-top: 40px;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  text-align: left;
  color: #545f7d;
  padding: 30px;
  overflow-x: auto;
  overflow-y: hidden;

  div {
    width: 97%;
    margin: 0 auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      text-transform: uppercase;
      font-size: 12px;

      th {
        margin-bottom: 37px;
      }
    }

    tbody {
      font-size: 14px;
    }
  }
  @media (max-width: 460px) {
    overflow: scroll;
  }
}
