.side-nav,
.side-nav-mobile {
  width: 20%;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.04);
  padding-top: 20px;
  background-color: #fff;
  height: 90vh;
  overflow-y: scroll;
  position: fixed;
  top: 100px;
  padding-bottom: 20px;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #e4e4e4;
  }

  &::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #acabab;
  }

  h3 {
    padding-left: 30px;
    font-size: 16px;
    color: #213f7d;
    font-weight: normal;
    margin-bottom: 52px;
    // margin-top: 0;
  }

  p {
    padding-left: 30px;
    text-transform: uppercase;
  }

  a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #213f7d;
    font-size: 16px;
    padding: 10px 0;
    opacity: 0.7;
    padding-left: 30px;

    &.active {
      opacity: 1;
      background: rgba(57, 205, 204, 0.06);

      // opacity: 0.06;
    }
  }

  @media (max-width: 460px) {
    display: none;
  }
}

.side-nav-mobile {
  width: 80%;
  z-index: 20;
}

.mobile-nav {
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 100px;
  padding: 0 0 20px;
  font-size: larger;
  // display: block;
  color: #213f7d;
  background-color: #fff;
  text-align: center;
  display: none;
  @media (max-width: 460px) {
    display: block;
  }
}
